/* index.css ou App.css */
body {
  background: linear-gradient(to right, #2c6dfc, #2a4bb3); /* Dégradé bleu élégant */
  color: white; /* Texte blanc pour contraster avec le fond */
  font-family: 'Arial', sans-serif; /* Utilisation d'une police élégante */
}
